# 데이터 전처리
---
* pandas 활용
* 0거제시
1경주시
2고령군
3남해군
4대구광역시
5문경시
6부산광역시
7안동시
8양산시
9영양군
10영주시
11영천시
12울산광역시
13울진군
14의령군
15의성군
16창녕군
17창원시
18청송군
19칠곡군
20포항시
21함안군

In [2]:
import pandas as pd

#### csv파일 체크

In [4]:
heritage_pre = pd.read_csv('heritage.csv', thousands =',', encoding='utf-8')
heritage_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1211 entries, 0 to 1210
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Region         1211 non-null   int64
 1   Heritage_True  1211 non-null   int64
 2   Heritage_Type  1211 non-null   int64
 3   Period         1211 non-null   int64
 4   Latitude       1211 non-null   float64
 5   Longitude      1211 non-null   float64
 6   Heritage_Name  1211 non-null   object
dtypes: float64(2), int64(4), object(1)
memory usage: 66.4+ KB

#### heritage.csv head 체크

In [3]:
heritage_pre.head()

,Region,Heritage_True,Heritage_Type,Period,Latitude,Longitude,Heritage_Name
0,1,2,1,1,34.858397,128.478264,학산 영등포 지석묘(鶴山 永登蒲 支石墓)
1,1,2,1,1,34.953478,128.653923,하청리 지석묘(河淸里 支石墓)
2,1,2,1,1,34.935033,128.656836,중리 지석묘(中里 支石墓)
3,1,2,1,2,34.914594,128.656524,죽토삼거리 고분군(竹土三距離 古墳群)
4,1,2,1,2,34.853696,128.570539,외간리 고분군(外看里 古墳群)

#### NaN 값 제거 및 필요없는 칼럼 삭제
* heritage 는 null 값제거 전
* heritage_1 은 null 값제거 후
* Heritage_Name 칼럼은 필요없으므로 삭제

In [4]:
heritage = heritage_pre.drop(['Heritage_Name'], axis=1, inplace=True)

In [5]:
heritage_pre.head()

   Region  Heritage_True  Heritage_Type  Period   Latitude   Longitude
0       1              2              1       1  34.858397  128.478264
1       1              2              1       1  34.953478  128.653923
2       1              2              1       1  34.935033  128.656836
3       1              2              1       2  34.914594  128.656524
4       1              2              1       2  34.853696  128.570539

#### false 값 추가전 위도 경도 추출 전 변수 추가
* false_cnt는 지역 마다 뽑아야하는 false 갯수
* false_list는 파일 경로

In [1]:
# flase값 추가 개수, 지역마다 false 개수가 다르기 때문에 이를 저장한 list
#0거제시 1경주시 2고령군 3남해군 4대구광역시 
#5문경시 6부산광역시 7안동시 8양산시 9영양군 
#10영주시 11영천시 12울산광역시 13울진군 14의령군
#15의성군 16창녕군 17창원시 18청송군 19칠곡군 
#20포항시 21함안군
false_cnt = [12, 56, 22, 33, 47,
             53, 21, 89, 45, 48, 
             39, 54, 86, 58, 45,
             69, 49, 69, 49, 26,
             66, 39]
false_list = ['0', '1', '2', '3', '4',
             '5', '6', '7', '8', '9',
             '10', '11', '12', '13', '14',
             '15', '16', '17', '18', '19',
             '20', '21']
for i in range(22):
    k=0
    #파일 경로
    false_list[i] = 'false_data/' + false_list[i] + '.csv'

#### 주소를 통해 위도, 경도를 추출하는 함수

In [7]:
#좌표 뽑는 함수
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import requests
from bs4 import BeautifulSoup

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import requests
from bs4 import BeautifulSoup

def address_to_location (address):
    #driver = webdriver.Chrome("크롬 드라이버 경로")
    driver = webdriver.Chrome('C:/testAI/chromedriver.exe')

    #driver.get("사이트 주소")
    driver.get('https://geocode.xyz/?region=Asia')
    
    #검색창에 address값을 보내줌
    search_box = driver.find_element_by_name("locate" )
    search_box.send_keys(address)

    #address로 검색하고 그 사이트의 html을 가져옴
    search_box.send_keys(Keys.RETURN)
    html = driver.page_source
    
    #드라이버 종료
    driver.close()
    
    #위도 경도를 담고있는 태그 선택
    location_html = BeautifulSoup(html, 'html.parser')
    tag = location_html.select('#bg-text > small > a')

    #태그들을 list로 가져오기 때문에 for문 이용
    for tags in tag:
        location = tags.text
    
    #위도 경도는 ,로 나누어진 한 문장이기에 ,로 다시 나누어줌    
    latitude_longitude = location.split(',')
    latitude = latitude_longitude[0]
    longitude = latitude_longitude[1]
    
    #튜플로 반환
    return latitude[1:], longitude[:-1]

#### 경도 위도를 원본 데이터에 추가
* 도로명 주소가 잘못된 경우는 try-except를 통해 예외 처리
* 오류가 발생한경우 error를 출력해 알려줌

In [ ]:
error = 0
for i in range(22):
    false_data = pd.read_csv(false_list[i], sep = ',', encoding = 'utf-8', error_bad_lines=False)
    
    for j in range(false_cnt[i]):
        try:
            lati, longi = address_to_location(false_data['소재지'][j])
            heritage_pre = heritage_pre.append({'Region': i, 'Heritage_True' : 0, 'Heritage_Type' : 0,
                                    'Period' : 0, 'Latitude' : lati, 'Longitude' : longi}, ignore_index=True)
        except:
            error = error + 1
    
    print(i, "지역에 추가하지 못한 위도, 경도 갯수:", error)
    error = 0

#### csv파일로 저장

In [53]:
heritage_pre.to_csv('heritage_preprocessing', sep = ',')

      Region  Heritage_True  Heritage_Type  Period  Latitude  Longitude  \
0          1              2              1       1   34.8584    128.478
1          1              2              1       1   34.9535    128.654
2          1              2              1       1    34.935    128.657
3          1              2              1       2   34.9146    128.657
4          1              2              1       2   34.8537    128.571
...      ...            ...            ...     ...       ...        ...
1270       7              0              0       0  36.56587  128.69870
1271       7              0              0       0  36.56587  128.69870
1272       7              0              0       0  36.52271  128.68908
1273       7              0              0       0  36.56386  128.70117
1274       7              0              0       0  36.57724  128.49710

               Heritage_Name
0     학산 영등포 지석묘(鶴山 永登蒲 支石墓)
1           하청리 지석묘(河淸里 支石墓)
2             중리 지석묘(中里 支石墓)
3       죽토삼거리 고분군(竹土三距離 古墳群)
4           외간리 고분군(外看里 古墳群)
...                      ...
1270                     NaN
1271                     NaN
1272                     NaN
1273                     NaN
1274                     NaN

[1275 rows x 7 columns]

0 지역 error 개수: 0